<ion-content>
  <div class="camera-container">
    <video id="camera"></video>
  </div>

  <div class="score">{{score}}点</div>
  <div class="description">0.4表情パワー以上で1つの表情クリア！加点されます！</div>
  <div class="quiz">{{quiz_JP}}</div>
  <div class="checked-value">{{checked_value}}表情パワー</div>

  <ion-button class="ion-padding" expand="block" (click)="setupFaceapi()">はじめる</ion-button>
  <ion-button class="ion-padding" fill="outline" color="danger" expand="block" (click)="dismiss()">閉じる</ion-button>
</ion-content>
