<ion-content>
  <div class="container">
    <div class="logo-container">
      <!-- <div class="logo">
      お前<br>
      テス勉<br>
      してる？
      </div> -->
      <ion-img class="ion-padding" src="../../assets/icon/logo.png"></ion-img>
    </div>
    <!-- <div class="arrow">
      <ion-img src="../../assets/img/arrow.png"></ion-img>
    </div> -->
    
    <app-twitter-login-button></app-twitter-login-button>

    <!-- <div class="icon">
      <ion-img src="../../assets/img/icon.png"></ion-img>
    </div> -->
  </div>
</ion-content>
