#canvas-container canvas {
  background: url(../../../assets/img/blurry-gradient-haikei.png) !important;
  background-size: cover !important;
  // width: 90%;
  // height: 100px;
}
#container {
  max-width: 80%;
  margin: 0 auto;
}