<ion-content>
  <form id="form" (submit)="postTweet()">
    <div class="input-container">
      <ion-item>
        <ion-label class="input-label">勉強内容</ion-label>
        <ion-input type="text" placeholder="ここに入力してね" [(ngModel)]="content" name="content"></ion-input>
      </ion-item>
    </div>

    <div class="button-container">
      <ion-button type="submit" expand="block">部屋に入る</ion-button>
    </div>
  </form>

  <div class="button-container">
    <ion-button class="ion-padding-vertical" expand="block" fill="outline" (click)="dismiss()">閉じる</ion-button>
  </div>
</ion-content>
