<ion-content [fullscreen]="true">
  <div class="logo-container">
    <div class="logo">
    もくもく
    </div>
  </div>

  <div class="button ion-padding">
    <ion-button class="ion-padding" expand="block" (click)="openModal()">はじめる</ion-button>
  </div>

  <div class="button ion-padding">
    <ion-button class="ion-padding" expand="block">みんながやってること</ion-button>
  </div>

  <div class="button ion-padding">
    <ion-button class="ion-padding" expand="block">りれき</ion-button>
  </div>

  <app-twitter-logout-button></app-twitter-logout-button>
  
</ion-content>
